.input-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(233, 218, 218);
  height: 10%;
  .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  input{
    display: none;
  }
}